
img {
    height: 200px;
    ;
}

body{
    width: 45%;
    margin: auto;
    
    background-color: rgb(252, 247, 244);
}
.header h3{
    color:rgb(235, 165, 4);
}
  
.header
  {
      background-image:url(image/wood2.jpg);
      background-repeat: no-repeat;
      background-size: 1100px 250px;
      object-fit: cover;
      text-align:center;
      padding:15px;
  }

.pilihan
{
    margin: auto;
}  

.nav {
    overflow: hidden;
    background-color: rgb(233, 178, 102);
    }
  
  /* Style the topnav links */
  .nav a {

    float: left;
    vertical-align: middle;
    display: block;
    color: rgb(156, 109, 6);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
 
  /* Change color on hover */
  .nav a:hover {
    background-color: rgb(233, 165, 20);
    color: rgb(240, 102, 11);
  }


header{
        text-align: center;
        margin-top: 5px;
        width: 450px;
    }
    
    .judul{
        object-fit: cover;
        text-align:center;
        padding:15px;
        } 

.seksi{
    object-fit: cover;
    text-align:left;
}


h1, h2, h3, h6, p, label, span{
    font-family: Verdana;
}

h1{text-align: center
    width: 450px}


h3{
    color: rgb(233, 178, 102);
    text-align: center
    width: 450px
}

h4{
    font-family: Arial ;
    text-align: center;
    margin: auto;
    width: 450px;
}


footer {
    text-align: center;
    position: fixed;
    width: 45%;
    bottom: 0px;
    background-color: rgb(233, 178, 102);
  }
